replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: tents/nostradamus-api
  # This sets the pull policy for images.
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: latest

api:
  service:
    type: ClusterIP
    port: 8080

frontend:
  service:
    type: LoadBalancer
    port: 3000
  image:
    repository: tents/nostradamus-frontend
    pullPolicy: Always
    tag: latest

scylla:
  nodes:
    - scylladb-nostradamus-main-nostradamus-1-0.scylla.svc.cluster.local:9042
    - scylladb-nostradamus-main-nostradamus-1-1.scylla.svc.cluster.local:9042
    - scylladb-nostradamus-main-nostradamus-1-2.scylla.svc.cluster.local:9042

cm:
  arroyo_url: arroyo.arroyo
  emqx_url: emqx-dashboard.kafka:18083
  kafka_brokers: nostradamus-kafka-bootstrap.kafka:9092
  valkey_service: valkey-headless.valkey.svc.cluster.local

metrics:
  serviceMonitor:
    # Enable a prometheus ServiceMonitor
    enabled: false

    # Prometheus ServiceMonitor interval
    interval: 30s

    # Prometheus ServiceMonitor selector
    selector: {}

resources:
  {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}
