apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-api"
  labels:
    {{- include "nostradamus.labels" . | nindent 4 }}
    nostradamus-platform: api
spec:
  selector:
    matchLabels:
      {{- include "nostradamus.selectorLabels" . | nindent 6 }}
      nostradamus-platform: api
  template:
    metadata:
      labels:
        {{- include "nostradamus.labels" . | nindent 8 }}
        nostradamus-platform: api
    spec:
      initContainers:
        - name: "wait-for-dependencies"
          image: "busybox:latest"
          args:
            - sh
            - -c
            - |
              if [ -n "$VALKEY_NODES" ]; then
                cache_dep="$VALKEY_NODES"
              elif [ -n "$MEMCACHED_NODE" ]; then
                cache_dep="$MEMCACHED_NODE"
              else
                echo "Neither VALKEY_NODES or MEMCACHED_NODE was detected!"
                exit 1
              fi

              for dep in \
                "nostradamus-kafka-bootstrap.kafka:9092" \
                "$cache_dep" \
                "scylladb-client.scylla:9042"; do
                host=${dep%:*}
                port=${dep#*:}
                echo "===================================================="
                echo "=?> Waiting for $host:$port..."
                until nc -zv $host $port >/dev/null 2>&1; do
                  echo "=?> Still waiting for $host:$port..."
                  echo "===================================================="
                  sleep 2
                done
                echo "=!> $host:$port is up"
              done
              echo "===================================================="
              echo "=!> All dependencies are ready."
              echo "===================================================="
          envFrom:
            - configMapRef:
                name:  "{{ .Release.Name }}-api-cm"
        - name: "{{ .Chart.Name }}-migrations"
          image: "{{ .Values.api.image.repository | default "tents/nostradamus-api" }}:{{ .Values.api.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.api.image.pullPolicy | default "IfNotPresent" }}
          command:
            - "migrate"
          args:
            - "-path=/opt/migrations"
            - "-database=cassandra://scylladb-client.scylla:9042/sensors_meta"
            - "up"
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.api.image.repository | default "tents/nostradamus-api" }}:{{ .Values.api.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.api.image.pullPolicy | default "IfNotPresent" }}
          ports:
            - name: api
              containerPort: {{ .Values.api.service.port }}
              protocol: TCP
          envFrom:
            - configMapRef:
                name: "{{ .Release.Name }}-api-cm"
            - secretRef:
                name: emqx-api-credentials
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.api.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 3
            timeoutSeconds: 1
            failureThreshold: 5
          {{- if .Values.api.resources }}
          resources:
          {{- toYaml .Values.api.resources | nindent 12 }}
          {{- end }}
  replicas: {{ .Values.api.replicaCount  | default 1 }}
